<%= form_with model: @user, url: sessions_path, id: 'LoginForm'  do | form | %>
    <div class='formField'>
        <%= form.label :login, 'Login' %>
        <%= form.text_field :login, placeholder: 'Enter login...' %>
        <%= render 'shared/form_error', locals: {model: @user, parametr: :login} %>
    </div>
    <div class='formField'>
        <%= form.label :password, 'Password' %>
        <%= form.password_field :password, placeholder: 'Enter password...' %>
        <%= render 'shared/form_error', locals: {model: @user, parametr: :password} %>
    </div>

    <%= form.submit 'Confirm', class: 'button' %>
<% end %>