<%= form_with model: @user, url: sessions_path, id: 'LoginForm'  do | form | %>
    <%# <%= "USER:\n#{@user.inspect}\n" %>
<div class='formField'>
    <%= form.label :login, 'Login', class: ['formElement','label'] %>
    <%= form.text_field :login, placeholder: 'Enter login...', class: ['textbox', 'formElement'] %>
</div>
<div class='formField'>
    <%= form.label :password, 'Password', class: ['formElement','label'] %>
    <%= form.password_field :password, placeholder: 'Enter password...', class: ['textbox','formElement'] %>
</div>
    <% if @user&.errors[:password].any? %> 
        <% @user.errors[:password].each do | message | %> 
            <p class="formError formElement"><%= message %></p>  
        <% end %> 
    <% end %>

    <%= form.submit 'Confirm', id: 'Submit', class: ['formElement','button'] %>
<% end %>