<div class='brief-card-buttons'>
    <% if current_user&.organization? %>
        <% if current_user.organization == vacancy.organization %>
            <% if controller_name != 'responses' %>
                <%= button_to vacancy_responses_path(vacancy), method: :get do %>
                    <%= image_tag 'menuIcons/writeToPlaceholder.png' %>
                <% end %>
            <% end %>
            <%= button_to edit_vacancy_path(vacancy), method: :get do %>
                <%= image_tag 'menuIcons/edit.png' %>
            <% end %>
            <%= button_to vacancy_path(vacancy), method: :delete, data: { confirm: 'Are you sure you want to delete vacancy?' } do %>
                <%= image_tag 'menuIcons/deleteCross.png' %>
            <% end %>
        <% end %>
    <% else %>
        <% if !(controller_name == 'responses' && action_name == 'index') %>
            <a><div class='corner-link'><%= image_tag 'menuIcons/add-to-favourites.png' %></div></a>
        <% end %>
    <% end %>
</div>