<% require_relative "../../../app/assets/config/initializers/work_constants.rb" 
%>
<%# app/assets/javascripts/job_type_select.js %>
<%# <%= javascript_include_tag 'jquery-3.7.1.min' %>
<%# <%= javascript_include_tag 'job_type_select' %>
<%= form_with model: @vacancy, url: locals[:address] do | form | %>

    <%= form.label :title %>
    <%= form.text_field :title %>
    <% if @vacancy.errors[:title].any? %> 
        <% @vacancy.errors.full_messages_for(:title).each do | message | %> 
            <p class="formError"><%= message %></p>  
        <% end %> 
    <% end %>

    <%= form.label :description %>
    <%= form.text_area :description %>
    <% if @vacancy.errors[:description].any? %> 
        <% @vacancy.errors.full_messages_for(:description).each do | message | %> 
            <p class="formError"><%= message %></p>  
        <% end %> 
    <% end %>

    <%= form.label :salary_min %>
    <%= form.number_field :salary_min %>
    <% if @vacancy.errors[:salary_min].any? %> 
        <% @vacancy.errors.full_messages_for(:salary_min).each do | message | %> 
            <p class="formError"><%= message %></p>  
        <% end %> 
    <% end %>

    <%= form.label :salary_max %>
    <%= form.number_field :salary_max %>
    <% if @vacancy.errors[:salary_max].any? %> 
        <% @vacancy.errors.full_messages_for(:salary_max).each do | message | %> 
            <p class="formError"><%= message %></p>  
        <% end %> 
    <% end %>

    <%= form.label :currency %>
    <%= form.select :currency, Money::Currency.all.map { |currency| [currency.iso_code, currency.id] }, { selected: 'USD' } %>
    <% if @vacancy.errors[:currency].any? %> 
        <% @vacancy.errors.full_messages_for(:currency).each do | message | %> 
            <p class="formError"><%= message %></p>  
        <% end %> 
    <% end %>

    <%= form.label :country %>
    <%= form.text_field :country %>
    <% if @vacancy.errors[:country].any? %> 
        <% @vacancy.errors.full_messages_for(:country).each do | message | %> 
            <p class="formError"><%= message %></p>  
        <% end %> 
    <% end %>

    <%= form.label :city %>
    <%= form.text_field :city %>
    <% if @vacancy.errors[:city].any? %> 
        <% @vacancy.errors.full_messages_for(:city).each do | message | %> 
            <p class="formError"><%= message %></p>  
        <% end %> 
    <% end %>

    <%= form.label :skills_mandatory %>
    <%= form.text_area :skills_mandatory %>
    <% if @vacancy.errors[:skills_mandatory].any? %> 
        <% @vacancy.errors.full_messages_for(:skills_mandatory).each do | message | %> 
            <p class="formError"><%= message %></p>  
        <% end %> 
    <% end %>

    <%= form.label :skills_optional %>
    <%= form.text_area :skills_optional %>
    <% if @vacancy.errors[:skills_optional].any? %> 
        <% @vacancy.errors.full_messages_for(:skills_optional).each do | message | %> 
            <p class="formError"><%= message %></p>  
        <% end %> 
    <% end %>

    <%= form.label :experience, "Required work experience from... (years)"%>
    <%= form.number_field :experience %>
    <% if @vacancy.errors[:experience].any? %> 
        <% @vacancy.errors.full_messages_for(:experience).each do | message | %> 
            <p class="formError"><%= message %></p>  
        <% end %> 
    <% end %>

    <%= form.label :job_category, "Job category" %>
    <%= form.select :job_category, options_for_select(JOB_TYPES.keys, @vacancy.job_category), {}, { id: 'job-category-select' } %>

    <%= form.label :job_type, "Job subcategory" %>
    <%= form.select :job_type, options_for_select(JOB_TYPES.values.flatten, @vacancy.job_type), {}, { id: 'job-type-select' } %>
    <% if @vacancy.errors[:job_type].any? %> 
        <% @vacancy.errors.full_messages_for(:job_type).each do | message | %> 
            <p class="formError"><%= message %></p>  
        <% end %> 
    <% end %>

    <%= form.label :work_type %>
    <%= form.select :work_type, options_for_select(WORK_TYPE, @vacancy.work_type), {}, { selected: @vacancy.work_type } %>
    <% if @vacancy.errors[:work_type].any? %> 
        <% @vacancy.errors.full_messages_for(:work_type).each do | message | %> 
            <p class="formError"><%= message %></p>  
        <% end %> 
    <% end %>

    <%= form.label :education %>
    <%= form.select :education, options_for_select(EDUCATION, @vacancy.education) %>
    <% if @vacancy.errors[:education].any? %> 
        <% @vacancy.errors.full_messages_for(:education).each do | message | %> 
            <p class="formError"><%= message %></p>  
        <% end %> 
    <% end %>

    <%= form.label :subordination_level %>
    <%= form.select :subordination_level, options_for_select(SUBORDINATION_LEVEL, @vacancy.subordination_level) %>
    <% if @vacancy.errors[:subordination_level].any? %> 
        <% @vacancy.errors.full_messages_for(:subordination_level).each do | message | %> 
            <p class="formError"><%= message %></p>  
        <% end %> 
    <% end %>

    <%= form.label :contract_type %>
    <%= form.select :contract_type, options_for_select(CONTRACT_TYPE, @vacancy.contract_type) %>
    <% if @vacancy.errors[:contract_type].any? %> 
        <% @vacancy.errors.full_messages_for(:contract_type).each do | message | %> 
            <p class="formError"><%= message %></p>  
        <% end %> 
    <% end %>

    <%= form.label :working_time %>
    <%= form.select :working_time, options_for_select(WORKING_TIME, @vacancy.working_time) %>
    <% if @vacancy.errors[:working_time].any? %> 
        <% @vacancy.errors.full_messages_for(:working_time).each do | message | %> 
            <p class="formError"><%= message %></p>  
        <% end %> 
    <% end %>

    <%= form.label :status %>
    <%= form.select :status, options_for_select(STATUS, @vacancy.status), {}, { selected: @vacancy.status } %>
    <% if @vacancy.errors[:status].any? %> 
        <% @vacancy.errors.full_messages_for(:status).each do | message | %> 
            <p class="formError"><%= message %></p>  
        <% end %> 
    <% end %>

    <%= form.submit 'Confirm' %>

<% end %>
<%# 
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
<script type="module" src="/assets/job_type_select.js"></script>
%>