<div class='vacancy'>
    <div class='iconPlaceholder'></div>
    <div class='vacancyInfo'>
        <%= link_to vacancy_path(vacancy) do %>
            <div class='topLineContainer'>
                <div class='topLineElement'>
                    <h2><%= vacancy.title %></h2>
                </div>
                <div class='topLineElement'>
                    <%= render 'vacancies/buttons', locals: {vacancy: vacancy} %>
                </div>
            </div>
            <p>
                <% 
                    organization = Organization.find(vacancy.organization_id)
                    user = User.find(organization.user_id)
                %>
                <%= link_to "#{organization.name}", user_path(user) %>
                <%= image_tag 'menuIcons/locationIcon.png' %>
                <%=" #{vacancy.country}, #{vacancy.city}" %>
            </p>
            <p><%= truncate vacancy.description, length: 100 %></p>
            <p class='salaryField'>
                Salary:
                <% if vacancy.salary_min_cents.present? && vacancy.salary_max_cents.present? %>
                    <%= Money.from_cents(vacancy.salary_min_cents, vacancy.currency).format %> - 
                    <%= Money.from_cents(vacancy.salary_max_cents, vacancy.currency).format %>
                <% elsif vacancy.salary_min_cents.present? %>
                    from <%= Money.from_cents(vacancy.salary_min_cents, vacancy.currency).format %>
                <% elsif vacancy.salary_max_cents.present? %>
                    up to <%= Money.from_cents(vacancy.salary_max_cents, vacancy.currency).format %>
                <% else %>
                    Negotiated
                <% end %>       
            </p>
        <% end %>
    </div>
</div>