<% provide :page_title, "Vacancy: #{@vacancy.title}" %>
<div class='brief-card-info status'>
    <div class='detailed-tag-info vacancy-tag'>
        <p>Vacancy status:</p>
        <span><%= @vacancy.status %></span>
    </div>
    <div class='detailed-tag-info vacancy-tag'>
        <p>Created at:</p>
        <span><%= @vacancy.created_at %></span>
    </div>
</div>
<div class='brief-card'>
    <div class='icon-placeholder'></div>
    <div class='brief-card-info'>
        <div class='top-line-container'>
            <div class='top-line-element'>
                <h2><%= @vacancy.title %></h2>
            </div>
            <div class='top-line-element'>
                <%= render 'buttons', vacancy: @vacancy, show_link_to_responses: true %>
            </div>
        </div>
        <p>
            <% 
                organization = Organization.find(@vacancy.organization_id)
                user = User.find(organization.user_id)
            %>
            <%= link_to "#{organization.name}", show_user_path(user) %>
            <% if @vacancy.country.present? || @vacancy.city.present? %>
                <%= image_tag 'menuIcons/locationIcon.png' %>
                <% if @vacancy.country.present? %>
                    <%= @vacancy.country %><% if @vacancy.city.present? %>,<% end %>
                <% end %>
                <% if @vacancy.city.present? %>
                    <%= @vacancy.city %>
                <% end %>
            <% end %>
        </p>
        <p><%= @vacancy.description %></p>
        <p class='salary-field'>
            Salary:
            <% if @vacancy.salary_min_cents.present? && @vacancy.salary_max_cents.present? %>
                <%= Money.from_cents(@vacancy.salary_min_cents, @vacancy.currency).format %> - 
                <%= Money.from_cents(@vacancy.salary_max_cents, @vacancy.currency).format %>
            <% elsif @vacancy.salary_min_cents.present? %>
                from <%= Money.from_cents(@vacancy.salary_min_cents, @vacancy.currency).format %>
            <% elsif @vacancy.salary_max_cents.present? %>
                up to <%= Money.from_cents(@vacancy.salary_max_cents, @vacancy.currency).format %>
            <% else %>
                Negotiated
            <% end %>
        </p>
    </div>
</div>
<div class='brief-card'>
    <div class='brief-card-info'>
        <p>About the job:</p>
        <div class='detailed-tag-info vacancy-tag'>
            <p>Job type:</p>
            <span><%= @vacancy.job_type %></span>
        </div>
        <div class='detailed-tag-info vacancy-tag'>
            <p>Contract type:</p>
            <span><%= @vacancy.contract_type %></span>
        </div>
        <div class='detailed-tag-info vacancy-tag'>
            <p>Working time:</p>
            <span><%= @vacancy.working_time %></span>
        </div>
        <div class='detailed-tag-info vacancy-tag'>
            <p>Work type:</p>
            <span><%= @vacancy.work_type %></span>
        </div>
    </div>
    <div class='brief-card-info'>
        <p>Education and experience:</p>
        <div class='detailed-tag-info vacancy-tag'>
            <p>Experience:</p>
            <span>
            <% if @vacancy.experience == 0 %>
                none
            <% elsif  @vacancy.experience == 1%>
                <%= @vacancy.experience %> year
            <% else %>
                <%= @vacancy.experience %> years
            <% end %>
            </span>
        </div>
        <div class='detailed-tag-info vacancy-tag'>
            <p>Education:</p>
            <span><%= @vacancy.education %></span>
         </div>
         <div class='detailed-tag-info vacancy-tag'>
            <p>Subordination level:</p>
            <span><%= @vacancy.subordination_level %></span>
        </div>
     </div>
     <div class='brief-card-info'>
        <p>Skills:</p>
        <div class='detailed-tag-info vacancy-tag skill'>
            <p>Mandatory skills:</p>
            <% if @vacancy.skills_mandatory.present? %>  
                <span><%= @vacancy.skills_mandatory %></span>
            <% else %>
                <span>None</span>
            <% end %>
        </div>
        <div class='detailed-tag-info vacancy-tag skill'>
            <p>Optional skills:</p>
            <% if @vacancy.skills_optional.present? %>  
                <span><%= @vacancy.skills_optional %></span>
            <% else %>
                <span>None</span>
            <% end %>
        </div>
    </div>
    <% if user_signed_in? && current_user.person? %>
        <% response = VacancyResponse.find_by(person_id: current_user.person.id, vacancy_id: params[:id]) %>
        <% if response.present? %>
            <%= button_to 'Cancel reply', response_path(response), method: :delete, class: 'button' %>
        <% else %>
            <%= button_to 'Response', vacancy_responses_path(@vacancy), method: :post, class: 'button' %>
        <% end %>
    <% end %>
</div>