<div><%= @vacancy.inspect %></div><br><br>

<h2><%= @vacancy.title %></h2>
<p><%= @vacancy.description %></p>
<p><%= @vacancy.skills_mandatory %></p>
<p><%= @vacancy.skills_optional %></p>
<p><b><%= @vacancy.salary_min %> to <%= @vacancy.salary_max %> <%= @vacancy.currency %></b></p>