<div class="notification-block <%= 'unread' unless notification.read %>" data-id="<%= notification.id %>">
    <% if notification.link.present? %>
        <%= link_to notification.link, method: :patch do %>
            <p><%= notification.message %></p>
        <% end %>
    <% else %>
        <p><%= notification.message %></p>
    <% end %>
</div>