<%= form_with model: @user, id: 'LoginForm'  do | form | %>

    <%# <%= form.label :login, 'Login' %>
    <%= form.text_field :login, placeholder: 'Enter login...' %>
    <% if @user.errors[:login].any? %> 
        <% @user.errors.full_messages_for(:login).each do | message | %> 
            <p class="error"><%= message %></p>  
        <% end %> 
    <% end %>

    <%# <%= form.label :password, 'Password' %>
    <%= form.password_field :password, placeholder: 'Enter password...' %>
    
    <%# <%= form.label :password_confirmation, 'Confirm password' %>
    <%= form.password_field :password_confirmation, placeholder: 'Confirm password...' %>
    <% if @user.errors[:password].any? %> 
        <% @user.errors.full_messages_for(:password).each do | message | %> 
            <p class="error"><%= message %></p>  
        <% end %> 
    <% end %>
    <% if @user.errors[:password_confirmation].any? %> 
        <% @user.errors.full_messages_for(:password_confirmation).each do | message | %> 
            <p class="error"><%= message %></p>  
        <% end %> 
    <% end %>

    <div>
        <%# <%= form.label :account_type, 'Select account type'%>
        <%= form.radio_button :account_type, 'person', checked: true %>
        <%= form.label :account_type_person, 'Person' %>
        <%= form.radio_button :account_type, 'organization' %>
        <%= form.label :account_type_organization, 'Organization' %>
    </div>

    <%= form.submit 'Confirm', class: 'button', id: 'Submit' %>
<% end %>