<% if @user.person? %>
    <div class='top-line-container'>
        <div class='top-line-element profile'>
            <h1><%= @user.person.name %> <%= @user.person.surname %></h1>
        </div>
        <div class='top-line-element'>
            <% if user_signed_in? && @user.id == current_user.id %>
                <%= link_to edit_user_path, class: 'corner-link' do %>
                    <%= image_tag 'menuIcons/edit.png' %>
                <% end %>
            <% else %>
                <% if user_signed_in? %>
                    <div class='corner-link'><%= image_tag 'menuIcons/writeToPlaceholder.png' %></div>
                <% else %>
                    <%# <%= link_to  do %> <a>
                        <div class='corner-link'><%= image_tag 'menuIcons/writeToPlaceholder.png' %></div>
                    <%# <% end %> </a>
                <% end %>
            <% end %>
        </div>
    </div>
    <p class='detailed-tag-info'><span>Gender:</span> <%= @user.person.sex %></p>
    <% if @user.person.DOB.present? %>
        <div class='detailed-tag-info'><span>DOB:</span> <%= @user.person.DOB %></div>
    <% else %>
        <div class='detailed-tag-info'><span>DOB:</span> unknown</div>
    <% end %>
    <% if @user.person.cv.present? %>
        <%= link_to show_cv_path(@user.person.cv), class:'detailed-tag-info' do %>
            <span>Show CV</span>
        <% end %>
    <% elsif user_signed_in? && @user.id == current_user.id %>
        <%= link_to new_cv_path, class:'detailed-tag-info' do %>
            <span>Create CV</span>
        <% end %>
    <% end %>
<% elsif @user.organization? %>
    <div class='top-line-container'>
        <div class='top-line-element'>
            <h1><%= @user.organization.name %></h1>
        </div>
        <div class='top-line-element'>
            <% if current_user.present? && @user.id == current_user.id %>
                <%= link_to edit_user_path, class: 'corner-link' do %>
                    <%= image_tag 'menuIcons/edit.png' %>
                <% end %>
            <% else %>
                <% if user_signed_in? %>
                    <div class='corner-link'><%= image_tag 'menuIcons/writeToPlaceholder.png' %></div>
                <% else %>
                    <%= link_to new_sessions_path do %>
                        <div class='corner-link'><%= image_tag 'menuIcons/writeToPlaceholder.png' %></div>
                    <% end %>
                <% end %>
            <% end %>
        </div>
    </div>
<% end %>