<% provide :page_title, 'Edit account' %>
<div class='pageTitle'>
    <h1 class='editTitle'>Edit profile information</h1><%= image_tag 'menuIcons/gear.png' %>
</div>
<%= form_with model: @user, url: user_update_path do |form| %>
    <div class='profileForm'>
        <h2>Account information:</h2>
        <div class='pairEditContainer'>
            
            <div class='leftEditContainer'>
                 <div class='iconPlaceholder formField'></div>
            </div>
            <div class='rightEditContainer'>
                <div class='formField'>
                    <%= form.label :login, 'Login' %>
                    <%= form.text_field :login, placeholder: 'Enter login...' %>
                    <%= render 'shared/form_error', locals: {model: @user, parametr: :login} %>
                </div>
                <div class='formField'>
                    <%= form.label :password, 'New password' %>
                    <%= form.password_field :password, placeholder: 'Enter new password...' %>
                    <%= render 'shared/form_error', locals: {model: @user, parametr: :password} %>
                </div>
                <div class='formField'>
                    <%= form.label :password_confirmation, 'Confirm new password' %>
                    <%= form.password_field :password_confirmation, placeholder: 'Confirm new password...' %>
                    <%= render 'shared/form_error', locals: {model: @user, parametr: :password_confirmation} %>
                </div>
            </div>
        </div>
        <hr class='divisionLine'>
        <div class='formField'>
            <%= form.label :old_password, 'Enter password to confirm changes' %>
            <%= form.password_field :old_password, placeholder: 'Enter password...' %>
            <%= render 'shared/form_error', locals: {model: @user, parametr: :old_password} %>
        </div>
    </div>

    <div class='profileForm'>
        <h2>Personal information:</h2>
        <% if @user.person? %>
            <%# Пользователь %>
            <%= form.fields_for :person do |person_fields| %>
                <div class='pairEditContainer'>
                    <div class='leftEditContainer'>
                        <div class='formField'>
                            <%= person_fields.label :name, 'Name' %>
                            <%= person_fields.text_field :name, placeholder: 'Enter name...' %>
                            <%= render 'shared/form_error', locals: {model: @user.person, parametr: :name} %>
                        </div>
                    </div>
                    <div class='rightEditContainer'>
                        <div class='formField'>
                            <%= person_fields.label :surname, 'Surname' %>
                            <%= person_fields.text_field :surname, placeholder: 'Enter surname...' %>
                            <%= render 'shared/form_error', locals: {model: @user.person, parametr: :surname} %>
                        </div>
                    </div>
                </div>
                <div class='pairEditContainer'>
                    <div class='leftEditContainer'>
                        <div class='formField'>
                            <%= person_fields.label :sex, "Select gender" %>
                            <%= person_fields.collection_select :sex, Person.sexes.keys, :to_s, :to_s, { selected: @user.person&.sex || 'unspecified' } %>
                            <%= render 'shared/form_error', locals: {model: @user.person, parametr: :sex} %>
                        </div>
                    </div>
                    <div class='rightEditContainer'>
                        <div class='formField'>
                            <%= person_fields.label :DOB, 'Date of birthday' %>
                            <%= person_fields.date_field :DOB, placeholder: 'Enter date of birthday...' %>
                            <%= render 'shared/form_error', locals: {model: @user.person, parametr: :DOB} %>
                        </div>
                    </div>
                </div>
                <div class='formField'>
                    <%= person_fields.label :about, 'About' %>
                    <%= person_fields.text_area :about, placeholder: 'Tell about yourself...' %>
                    <%= render 'shared/form_error', locals: {model: @user.person, parametr: :about} %>
                </div>
            <% end %>
        <% elsif @user.organization? %>
            <%# Организация %>
            <%= form.fields_for :organization do |organization_fields| %>
                <div class='formField'>
                    <%= organization_fields.label :name, 'Name' %>
                    <%= organization_fields.text_field :name, placeholder: 'Enter name...' %>
                    <%= render 'shared/form_error', locals: {model: @user.organization, parametr: :name} %>
                </div>
                <div class='formField'>
                    <%= organization_fields.label :about, 'About' %>
                    <%= organization_fields.text_area :about, placeholder: 'Tell about...' %>
                    <%= render 'shared/form_error', locals: {model: @user.organization, parametr: :about} %>
                </div>
            <% end %>
        <% end %>
        <div class='editButtons'>
            <%= form.submit 'Confirm changes', class: 'button' %>
            <%#    <%= button_to "Delete account", user_destroy_path(@user), method: :delete, confirm: 'Are you sure you want to delete account?', class: 'button deleteButton' %>
        </div>
    </div>
<% end %>

<% @user.emails.each do | email | %>
    <% if email.id %>
        <%= render 'emails/email', email: email %>
    <% end %>
<% end %>
<%= render 'emails/form', email: @email ||= Email.new(user_id: @user.id)%>