<% provide :page_title, 'Edit account' %>
<div class='page-title'>
    <h1>Edit profile information</h1><%= image_tag 'menuIcons/gear.png' %>
</div>
<%= form_with model: @user, url: user_path, method: :patch do |form| %>
    <div class='form profile'>
        <h2>Account information:</h2>
        <div class='pair-container edit'>
            <div class='pair-single-container edit icon'>
                <%= form.fields_for :avatar, @user.avatar do | avatar_fields | %>
                    <%= avatar_fields.label :image %>
                    <div class='icon-container'>
                        <% if @user.avatar.image? %>
                            <%= image_tag @user.avatar.image.url %>
                        <% else %>
                            <%= image_tag 'profile-picture-placeholder.png' %>
                        <% end %>
                    </div>
                    <%= avatar_fields.file_field :image %>
                    <%= render 'shared/form_error', model: @user.avatar, parametr: :image %>
                <% end %>
            </div>
            <div class='pair-single-container edit'>
                <div class='form-field'>
                    <%= form.label :login, 'Login' %>
                    <%= form.text_field :login, placeholder: 'Enter login...' %>
                    <%= render 'shared/form_error', model: @user, parametr: :login %>
                </div>
                <div class='form-field'>
                    <%= form.label :password, 'New password' %>
                    <%= form.password_field :password, placeholder: 'Enter new password...' %>
                    <%= render 'shared/form_error', model: @user, parametr: :password %>
                </div>
                <div class='form-field'>
                    <%= form.label :password_confirmation, 'Confirm new password' %>
                    <%= form.password_field :password_confirmation, placeholder: 'Confirm new password...' %>
                    <%= render 'shared/form_error', model: @user, parametr: :password_confirmation %>
                </div>
            </div>
        </div>
        <hr class='division-line'>
        <div class='form-field'>
            <%= form.label :old_password, 'Enter password to confirm changes' %>
            <%= form.password_field :old_password, placeholder: 'Enter password...' %>
            <%= render 'shared/form_error', model: @user, parametr: :old_password %>
        </div>
    </div>

    <div class='form profile'>
        <h2>Personal information:</h2>
        <% if @user.person? %>
            <%# Пользователь %>
            <%= form.fields_for :person do |person_fields| %>
                <div class='pair-container edit'>
                    <div class='pair-single-container edit'>
                        <div class='form-field'>
                            <%= person_fields.label :name, 'Name' %>
                            <%= person_fields.text_field :name, placeholder: 'Enter name...' %>
                            <%= render 'shared/form_error', model: @user.person, parametr: :name %>
                        </div>
                    </div>
                    <div class='pair-single-container edit'>
                        <div class='form-field'>
                            <%= person_fields.label :surname, 'Surname' %>
                            <%= person_fields.text_field :surname, placeholder: 'Enter surname...' %>
                            <%= render 'shared/form_error', model: @user.person, parametr: :surname %>
                        </div>
                    </div>
                </div>
                <div class='pair-container edit'>
                    <div class='pair-single-container edit'>
                        <div class='form-field'>
                            <%= person_fields.label :sex, "Select gender" %>
                            <%= person_fields.collection_select :sex, Person.sexes.keys, :to_s, :to_s, { selected: @user.person&.sex || 'unspecified' } %>
                            <%= render 'shared/form_error', model: @user.person, parametr: :sex %>
                        </div>
                    </div>
                    <div class='pair-single-container edit'>
                        <div class='form-field'>
                            <%= person_fields.label :DOB, 'Date of birthday' %>
                            <%= person_fields.date_field :DOB, placeholder: 'Enter date of birthday...' %>
                            <%= render 'shared/form_error', model: @user.person, parametr: :DOB %>
                        </div>
                    </div>
                </div>
                <div class='form-field'>
                    <%= person_fields.label :about, 'About' %>
                    <%= person_fields.text_area :about, placeholder: 'Tell about yourself...' %>
                    <%= render 'shared/form_error', model: @user.person, parametr: :about %>
                </div>
            <% end %>
        <% elsif @user.organization? %>
            <%# Организация %>
            <%= form.fields_for :organization do |organization_fields| %>
                <div class='form-field'>
                    <%= organization_fields.label :name, 'Name' %>
                    <%= organization_fields.text_field :name, placeholder: 'Enter name...' %>
                    <%= render 'shared/form_error', model: @user.organization, parametr: :name %>
                </div>
                <div class='form-field'>
                    <%= organization_fields.label :about, 'About' %>
                    <%= organization_fields.text_area :about, placeholder: 'Tell about...' %>
                    <%= render 'shared/form_error', model: @user.organization, parametr: :about %>
                </div>
            <% end %>
        <% end %>
        <div class='pair-container control-buttons'>
            <%= form.submit 'Confirm changes', class: 'button' %>
            <%# <%= form.submit 'Confirm changes', class: 'button disable', disabled: true %>
            <%# <%= button_to "Delete account", user_destroy_path(@user), method: :delete, confirm: 'Are you sure you want to delete account?', class: 'button delete-button' %>
        </div>
    </div>
<% end %>
<%# <%= javascript_include_tag 'disable_submit', async: true %>

<div class='form profile'>
    <h2>Phone numbers:</h2>
    <% @user.telephones.each do | telephone | %>
        <% if telephone.id %>
            <%= render 'telephones/telephone', telephone: telephone %>
        <% end %>
    <% end %>
    <%= render 'telephones/form', telephone: @telephone ||= Telephone.new(user_id: @user.id) %>
</div>
<div class='form profile'>
    <h2>Email addresses:</h2>
    <% @user.emails.each do | email | %>
        <% if email.id %>
            <%= render 'emails/email', email: email %>
        <% end %>
    <% end %>
    <%= render 'emails/form', email: @email ||= Email.new(user_id: @user.id) %>
</div>
<div class='form profile'>
    <h2>Links:</h2>
    <% @user.links.each do | link | %>
        <% if link.id %>
            <%= render 'links/link', link: link %>
        <% end %>
    <% end %>
    <%= render 'links/form', link: @link ||= Link.new(user_id: @user.id) %>
</div>