<div class='page-title'>
    <% if current_user.present? && @user.id == current_user.id %>
        <h1>My profile</h1><%= image_tag 'menuIcons/human.png' %>
        <% provide :page_title, 'My profile' %>
    <% else %>
        <% if @user.person? %>
            <h1>Person profile</h1><%= image_tag 'menuIcons/human.png' %>
            <% provide :page_title, @user.person.name + ' ' + @user.person.surname %>
        <% elsif @user.organization? %>
            <h1>Organization profile</h1><%= image_tag 'menuIcons/human.png' %>
            <% provide :page_title, @user.organization.name %>
        <% end %>
    <% end %>
</div>
<div class='form profile remove-padding'>
    <div class='pair-container profile'>
    <div class='icon-placeholder'></div>
        <div class='pair-single-container profile'>
            <%= render 'users/info' %>
        </div>
        <% if @user.person? %>
            <% if @user.person.cv.present? %>
                <div class='pair-single-container profile'>
                    <%= link_to 'Show CV', cv_show_path(@user.person.cv) %>
                </div>
            <% elsif user_signed_in? && @user.id == current_user.id %>
                <div class='pair-single-container profile'>
                    <%= link_to 'Create CV', cv_new_path %>
                </div>
            <% end %>
        <% end %>
    </div>
</div>
    <% if @user.person? && @user.person.about.present? %>
        <div class='form profile'>
            <h1 class='paragraph-profile-title'>About me</h1>
            <p class='about-user detailed-tag-info'><%= @user.person.about %></p>
        </div>
    <% elsif @user.organization? &&  @user.organization.about.present? %>
        <div class='form profile'>
            <h1 class='paragraph-profile-title'>About us</h1>
            <p class='about-user detailed-tag-info'><%= @user.organization.about %></p>
        </div>
     <% end %>
<%# 
    Будет какой-то блок, в котором будет хранится или только блок отзывов, или блок отзывов и блок вакансий. 
    Нужно через js сделать переключение между ними 
%>
<% if @user.organization? %>
        <div class='form profile remove-style'>
        <% if current_user.present? && @user.id == current_user.id %>
            <%= link_to "Create new offer", vacancy_new_path, class: 'button profile' %>
        <% end %>
            <%= render Vacancy.where(organization_id: @user.organization.id) %>
        </div>
<% end %>