<div class='page-title'>
    <% if current_user.present? && @user.id == current_user.id %>
        <h1>My profile</h1>
        <% if @user.person? %>
            <%= image_tag 'menuIcons/human.png' %>
        <% elsif @user.organization? %>
            <%= image_tag 'menuIcons/organization.png' %>
        <% end %>
        <% provide :page_title, 'My profile' %>
    <% else %>
        <% if @user.person? %>
            <h1>Person profile</h1><%= image_tag 'menuIcons/human.png' %>
            <% provide :page_title, @user.person.name + ' ' + @user.person.surname %>
        <% elsif @user.organization? %>
            <h1>Organization profile</h1><%= image_tag 'menuIcons/organization.png' %>
            <% provide :page_title, @user.organization.name %>
        <% end %>
    <% end %>
</div>
<div class='form profile remove-padding'>
    <div class='pair-container profile'>
        <div class='icon-placeholder'></div>
        <div class='pair-single-container profile'>
            <%= render 'users/info' %>
        </div>
    </div>
    <% if @user.person? && @user.person.about.present? %>

            <h1 class='paragraph-profile-title'>About me</h1>
            <p class='about-user detailed-tag-info'><%= @user.person.about %></p>
     
    <% elsif @user.organization? &&  @user.organization.about.present? %>
  
            <h1 class='paragraph-profile-title'>About us</h1>
            <p class='about-user detailed-tag-info'><%= @user.organization.about %></p>

     <% end %>
<%# 
    Будет какой-то блок, в котором будет хранится или только блок отзывов, или блок отзывов и блок вакансий. 
    Нужно через js сделать переключение между ними 
%>

    <h1 class='paragraph-profile-title'>Contact info</h1>
    <div class='limitation'>
        <hr class='division-line'>
        <div class='flex-container-contacts'>
            <h4>Phone numbers</h4>
            <div class='sub-container'>
                <% @user.telephones.each do | telephone | %>
                    <% if telephone.id %>
                        <%= render 'telephones/telephone', telephone: telephone %>
                    <% end %>
                <% end %>
            </div>
        </div>
        <hr class='division-line'>
        <div class='flex-container-contacts'>
            <h4>Emails</h4>
            <div class='sub-container'>
                <% @user.emails.each do | email | %>
                    <% if email.id %>
                        <%= render 'emails/email', email: email %>
                    <% end %>
                <% end %>
            </div>
        </div>
        <hr class='division-line'>
        <div class='flex-container-contacts'>
            <h4>Links</h4>
            <div class='sub-container'>
                <% @user.links.each do | link | %>
                    <% if link.id %>
                        <%= render 'links/link', link: link %>
                    <% end %>
                <% end %>
            </div>
        </div>
        <hr class='division-line'>
    </div>
</div>




<% if @user.organization? %>
        <div class='form profile remove-style'>
        <% if current_user.present? && @user.id == current_user.id %>
            <%= link_to "Create new offer", new_vacancy_path, class: 'button profile' %>
        <% end %>
            <%= render Vacancy.where(organization_id: @user.organization.id) %>
        </div>
<% end %>