<div class='pageTitle'>
    <% if current_user.present? && @user.id == current_user.id %>
        <h1 class='editTitle'>My profile</h1><%= image_tag 'menuIcons/human.png' %>
        <% provide :page_title, 'My profile' %>
    <% else %>
        <% if @user.person? %>
            <h1 class='editTitle'>Person profile</h1><%= image_tag 'menuIcons/human.png' %>
            <% provide :page_title, @user.person.name + ' ' + @user.person.surname %>
        <% elsif @user.organization? %>
            <h1 class='editTitle'>Organization profile</h1><%= image_tag 'menuIcons/human.png' %>
            <% provide :page_title, @user.organization.name %>
        <% end %>
    <% end %>
</div>
<div class='profileForm'>
    <div class='pairProfileContainer'>
            <% if current_user.present? && @user.id == current_user.id %>
                <%= link_to user_settings_path, class: 'cornerLink' do %>
                    <%= image_tag 'menuIcons/edit.png' %>
                <% end %>
            <% else %>
                <div class='cornerLink'><%= image_tag 'menuIcons/writeToPlaceholder.png' %></div>
                <%# кнопка "написать сообщение"/"добавить в избранное"?  %>
                <%# может нужно сделать потом, что если пользователь не вошёл, то эта кнопка либо выбрасывает флеш либо кидает на логин пейдж %>
            <% end %>
            <div class='leftProfileContainer'>
                <div class='iconPlaceholder'></div>
            </div>
        <% if @user.person? %>
            <div class='rightProfileContainer'>
                <h1 class='nameSurname'><%= @user.person.name %> <%= @user.person.surname %></h1>
                <p class='singleInfo'><span>Gender:</span> <%= @user.person.sex %></p>
                <% if @user.person.DOB.present? %>
                    <div class='singleInfo'><span>DOB:</span> <%= @user.person.DOB %></div>
                <% else %>
                    <div class='singleInfo'><span>DOB:</span> no data</div>
                <% end %>
                <div class='singleInfo'><span>Person</span></div>
            </div>
        <% elsif @user.organization? %>
            <div class='rightProfileContainer'>
                <h1 class='nameSurname'><%= @user.organization.name %></h1>
                <div class='singleInfo'><span>Organization</span></div>
            </div>
        <% end %>
    </div>
</div>
<div class='profileForm'>
    <% if @user.person? %>
        <h1 class='paragraphProfileTitle'>About us</h1>
        <p class='aboutUser singleInfo'><%= @user.person.about %></p>
    <% elsif @user.organization? %>
        <h1 class='paragraphProfileTitle'>About us</h1>
        <p class='aboutUser singleInfo'><%= @user.organization.about %></p>
    <% end %>
</div>

<%# 
    Будет какой-то блок, в котором будет хранится или только блок отзывов, или блок отзывов и блок вакансий. 
    Нужно через js сделать переключение между ними 
%>
<% if @user.organization? %>
    <%= render Vacancy.where(organization_id: @user.organization.id) %>
<% end %>