<div class="top-banner" id='header'>
    <div class="header-limit">
        <div class="header-element">
            <%= link_to root_path, class: 'logo-link' do %>
                <%= image_tag 'logo.png' %>
                <%= content_tag :span, "WorkHunt" %>
            <% end %>
        </div>
        <div class="header-element">
            <% if user_signed_in? %>
                <div class="search-button
                <%= 'on-search-page' if (controller_name == 'cvs' || controller_name == 'vacancies') && action_name == 'index' %>" title='Search page'>
                    <% if current_user.person? %>
                        <%= link_to vacancies_path do %>
                            <%= inline_svg_tag 'svg-icons/go-search-icon.svg' %>
                        <% end %>
                    <% elsif current_user.organization? %>
                        <%= link_to cvs_path do %>
                            <%= inline_svg_tag 'svg-icons/go-search-icon.svg' %>
                        <% end %>
                    <% end %>
                </div>
                <div class="notifications-button" id="notifications-button">
                    <div id="notification-counter-block">
                        <% if current_user.notifications.where(read: false).count > 0 %>
                            <p id="notification-counter">
                                <%= current_user.notifications.where(read: false).count %>
                            </p>
                        <% end %>
                    </div>
                    <%= inline_svg_tag 'svg-icons/notifications.svg', title: 'Show notifications' %>
                    <div class="account-menu" id="notifications-container" style="display: none">
                        <% if current_user.notifications.count > 0 %>
                            <%= render current_user.notifications.order(created_at: :desc) %>
                        <% else %>
                            No notifications
                        <% end %>
                    </div>
                </div>
                <%= javascript_include_tag 'notifications', async: true %>
                <div class="dropdown" id="menu-button">
                    <span class="account-button" title='Main menu'><%= current_user[:login] %></span>
                    <span class="small-button" title='Main menu'>...</span>
                    <ul class="account-menu" id="menu-dropdown" style="display: none">
                        <li class="small-width-menu"><%= current_user[:login] %></li>
                        <li class="small-width-menu"><hr></li> 
                        <li class="<%= 'active' if controller_name == 'users' && action_name == 'show' &&  @user.id == current_user.id  %>">
                            <%= link_to show_user_path(current_user) do %>
                                <%= image_tag 'menuIcons/human.png' %>
                                My Profile
                            <% end %>
                        </li>
                        <li class="<%= 'active' if controller_name == 'users' && action_name == 'edit' &&  @user.id == current_user.id  %>">
                            <%= link_to edit_user_path do %>
                                <%= image_tag 'menuIcons/gear.png' %>
                                Edit Account
                            <% end %>
                        </li>
                        <li class="<%= 'active' if controller_name == 'cvs' && (action_name == 'new' || (action_name == 'show' && @cv.person.user_id == current_user.id)) %>">
                            <% if current_user.person? %>
                                <% if current_user.person.cv.present? %>
                                    <%= link_to show_cv_path(current_user.person.cv) do %>
                                        <%= image_tag 'menuIcons/cv-icon.png' %>
                                        My CV
                                    <% end %>
                                <% else %>
                                    <%= link_to new_cv_path do %>
                                        <%= image_tag 'menuIcons/cv-icon.png' %>
                                        Create CV
                                    <% end %>
                                <% end %>
                             <% end %>
                        </li>
                        <li class="<%= 'active' if controller_name == 'responses' && action_name == 'index' %>">
                            <% if current_user.person? %>
                                <%= link_to user_responses_path do %>
                                    <%= image_tag 'menuIcons/responses-icon.png' %>
                                    Responses
                                <% end %>
                            <% end %>
                        </li>
                        <li><hr class="division-line"></li>

                        <li><%= button_to sessions_path, method: :delete, class: "logout-button" do %>
                            <%= image_tag "menuIcons/poweroff.png" %>
                            Log out
                        <% end %></li>
                    </ul>
                </div>
            <% else %>
                <div class="dropdown">
                    <%= link_to new_sessions_path do %>
                            <span class="account-button">You are not logged in</span>
                            <span class="small-button">Log In</span>
                    <% end %>
                </div>
            <% end %>    
        </div>
    </div>  
</div>

<%= javascript_include_tag 'menu_dropdown' %>