<div class="top-banner">
    <div class="header-limit">
        <div class="header-element" >
            <%= link_to root_path, class: 'logo-link' do %>
                <%= image_tag 'logo.png'%>
                <%= content_tag :span, "WorkHunt"%>
            <% end %>
        </div>
        <div class="header-element">
            <% if user_signed_in? %>
                <div class="notifications-button" id="notifications-button">
                    <%# Класс можешь менять, id не трогай %>
                    <%# Добавить иконку и поверх иконки число, если не равно 0 %>
                    <%# Получить число: %>
                    <% if current_user.notifications.where(read: false).count > 0 %>
                        <span><%= current_user.notifications.where(read: false).count %></span>
                    <% end %>
                </div>
                <div class="account-menu" id="notifications-container" style="display: none">
                    <%= render current_user.notifications.order(created_at: :desc) %>
                </div>
                <%= javascript_include_tag 'notifications', async: true %>
                <div class="dropdown">
                    <span class="account-button"><%= current_user[:login] %></span>
                    <span class="small-button">...</span>
                    <ul class="account-menu">
                        <li class="small-width-menu"><%= current_user[:login] %></li>
                        <li class="small-width-menu"><hr></li> 
                        <li>
                            <%= link_to show_user_path(current_user) do %>
                                <%= image_tag 'menuIcons/human.png' %>
                                My Profile
                            <% end %>
                        </li>
                        <li>
                            <%= link_to edit_user_path do %>
                                <%= image_tag 'menuIcons/gear.png' %>
                                Edit Account
                            <% end %>
                        </li>
                        <li>
                            <% if current_user.person? %>
                                <% if current_user.person.cv.present? %>
                                    <%= link_to show_cv_path(current_user.person.cv) do %>
                                        <%= image_tag 'menuIcons/cv-icon.png' %>
                                        My CV
                                    <% end %>
                                <% else %>
                                    <%= link_to new_cv_path do %>
                                        <%= image_tag 'menuIcons/cv-icon.png' %>
                                        Create CV
                                    <% end %>
                                <% end %>
                             <% end %>
                        </li>
                        <li>
                            <% if current_user.person? %>
                                <%= link_to user_responses_path do %>
                                    <%= image_tag 'menuIcons/responses-icon.png' %>
                                    Responses
                                <% end %>
                            <% end %>
                        </li>
                        <li><hr class="division-line"></li>

                        <li><%= button_to sessions_path, method: :delete, class: "logout-button" do %>
                            <%= image_tag "menuIcons/poweroff.png" %>
                            Log out
                        <% end %></li>
                    </ul>
                </div>
            <% else %>
                <div class="dropdown">
                    <%= link_to new_sessions_path do %>
                            <span class="account-button">You are not logged in</span>
                            <span class="small-button">Log In</span>
                    <% end %>
                </div>
            <% end %>    
        </div>
    </div>  
</div>