<div class="top-banner">
    <div class="header-limit">
        <div class="header-element" >
            <%= link_to root_path, class: 'logo-link' do %>
                <%= image_tag 'logo.png'%>
                <%= content_tag :span, "WorkHunt"%>
            <% end %>
        </div>
        <div class="header-element">
            <% if user_signed_in? %>
                <div class="dropdown">
                    <span class="account-button"><%= current_user[:login] %></span>
                    <span class="small-button">...</span>
                    <ul class="account-menu">
                        <li class="small-width-menu">
                            <%= current_user[:login] %>
                        </li>
                        <li class="small-width-menu">
                            <hr>
                        </li> 
                        <li>
                            <%= link_to user_path(current_user) do %>
                                <%= image_tag 'menuIcons/human.png' %>
                                My Profile
                            <% end %>
                        </li>
                        <li>
                            <%= link_to user_settings_path do %>
                                <%= image_tag 'menuIcons/gear.png' %>
                                Edit Account
                            <% end %>
                        </li>

                        <li><hr class="division-line"></li>

                        <li><%= button_to logout_path, method: :delete, class: "logout-button" do %>
                            <%= image_tag "menuIcons/poweroff.png" %>
                            Log out
                        <% end %></li>
                    </ul>
                </div>
            <% else %>
                <div class="dropdown">
                    <%= link_to login_path do %>
                            <span class="account-button">You are not logged in</span>
                            <span class="small-button">Log In</span>
                    <% end %>
                </div>
            <% end %>    
        </div>
    </div>  
</div>