<div id='FutureSlider'>
    <div id='StartField'>
        <%= link_to 'START NOW', login_path, class: 'StartButton' %>
    </div>
</div>

<div><h1>
    <% if user_signed_in? %>
        <%= current_user[:login] %><br>
        <%= button_to 'LOG OUT', logout_path, method: :delete %>
    <% else %>
        You are not sing up
    <% end %>
</h1></div>
<div>
    <%= User.all.inspect %><br>
    <%= Person.all.inspect %><br>
    <%= Organization.all.inspect %><br>
</div>

<div id='GeneralInfo'>
    <%= image_tag 'Screen.png', id: 'Screen', class: 'InfoClass'%>
    <h1 class='ParagraphName'>About WorkHunt</h1>
    <div id='About' class='InfoClass'>
        Workhunt is a free recruitment service. 
        Here you can find a job that suits your preferences or find workers for your business.
    </div>
</div>



<!--<h1>Стартовая страница сайта</h1>
<p>Только то, что находится в тегах body
    <br>Такие элементы, как шапка и подвал так же можно подключить отдельными блоками в ... /views/layouts/application.html.erb
    <%= link_to 'Something', root_path %><br>
</p>--!>