<%= render 'shared/slider' %>
<div class='limitation-container'>
    <h1 class='paragraph-title'>About WorkHunt</h1>
</div>
<div class='paragraph'>
    <div class='paragraph-element about-workhunt'>
        <div class='description'>
            <p>Workhunt is a free recruitment service.</p>
            <p>Here you can find a job that suits your preferences or find workers for your business.</p>
        </div>
    </div>
        <%= image_tag 'Screen.png', class: ['paragraph-element about-image']%>
</div>
<div class='color-container'>
    <div class='limitation-container'>
    <h1 class='paragraph-title'>Functionality</h1>
        <div class='advantages'>
            <%= image_tag("icons/Convenientsearch.png") %> <span>Find interesting job offers using a convenient and functional search.</span>
        </div>
        <div class='advantages'>
            <%= image_tag("icons/Offers.png") %> <span>Create your own job offers if you have a business and are looking for employees.</span>
        </div>
        <div class='advantages'>
            <%= image_tag("icons/Profile.png") %> <span>Create your profile and add all the important information about yourself 
            so that employers can easily view it right on the website.</span>
        </div>
        <div class='advantages'>
            <%= image_tag("icons/Messages.png") %> <span>Receive and respond to messages without leaving our site.</span>
        </div>
        <div class='advantages'>
            <%= image_tag("icons/AndMore.png") %> <span>...and other useful functions you will find in Workhunt! </span>
        </div>
    </div>
</div>
<div class='limitation-container encouragement-container'>
    <div class='logo'>
        <%= image_tag 'logo.png' %>
        <%= content_tag :span, "WorkHunt" %>
    </div>
    <p>Hunt down your future work right now!</p>  
    There are <%= Vacancy.count %> job offers in the database.
    <div class='start-button-container'>
        <% if user_signed_in? %>
            <% if current_user.person? %>
                <%= link_to 'TO THE HUNT!', vacancies_path, class: ['large-button'] %>
            <% elsif current_user.organization? %>
                <%= link_to 'TO THE HUNT!', cvs_path, class: ['large-button'] %>
            <% end %>
        <% else %>
            <%= link_to 'TO THE HUNT!', vacancies_path, class: ['large-button'] %>
        <% end %>
     </div>
</div>
<footer class='color-container'>
    <div class='limitation-container start-page-footer'>
        Created by:
        <ul>
            <li>Sadouski Andrei - database</li>
            <li>Miranchuk Krystsina - backend</li>
            <li>Vereshchahin Mark - frontend</li>
        </ul>
        <p>Uniwersytet Łódzki. Inżynieria oprogramowania. 2024.</p>
    </footer>
</div>