<div class='sliderField'>
<div class='greatingsContainer'>
       <div class='welcomeMessage'>
        <p class='largeTitle'>Welcome to the WorkHunt</p>
        <p class='subTitle'>The newest job search service!</p>
       </div>
       <div class='startButtonContainer'>
        <%= link_to 'START NOW', login_path, class: ['largeButton'] %>
       </div>
</div>
</div>
<div class='paragraph'>
    <div class='paragraphElement'>
        <h1>About WorkHunt</h1>
        Workhunt is a free recruitment service. 
        Here you can find a job that suits your preferences or find workers for your business.
    </div>
        <%= image_tag 'Screen.png', class: 'paragraphElement'%>
</div>

<div><h1>
    <% if user_signed_in? %>
        <%= current_user[:login] %><br>
        <%= current_user[:account_type] %><br>
        <%= button_to 'LOG OUT', logout_path, method: :delete %>
        <%= link_to 'EDIT INFO', user_settings_path %>
    <% else %>
        You are not sing up
    <% end %>
</h1></div>
<div>
    <%= User.all.inspect %><br>
    <%= Person.all.inspect %><br>
    <%= Organization.all.inspect %><br>
</div>

<!--<h1>Стартовая страница сайта</h1>
<p>Только то, что находится в тегах body
    <br>Такие элементы, как шапка и подвал так же можно подключить отдельными блоками в ... /views/layouts/application.html.erb
    <%= link_to 'Something', root_path %><br>
</p>--!>