<div class='sliderField'>
<div class='greatingsContainer'>
       <div class='welcomeMessage'>
        <p class='largeTitle'>Welcome to the WorkHunt</p>
        <p class='subTitle'>The newest job search service!</p>
       </div>
       <div class='startButtonContainer'>
        <%= link_to 'START NOW', login_path, class: ['largeButton'] %>
       </div>
</div>
</div>
<div class='limitationContainer'>
    <h1 class='paragraphTitle'>About WorkHunt</h1>
</div>
<div class='paragraph'>
    <div class='paragraphElement aboutWH'>
        <div class='description'>
            <p>Workhunt is a free recruitment service.</p>
            <p>Here you can find a job that suits your preferences or find workers for your business.</p>
        </div>
    </div>
        <%= image_tag 'Screen.png', class: ['paragraphElement aboutImg']%>
</div>
<div class='colorContainer'>
    <div class='limitationContainer'>
    <h1 class='paragraphTitle'>Functionality</h1>
        <div class='advantages'>
            <%= image_tag("icons/Convenientsearch.png") %> <span>Find interesting job offers using a convenient and functional search.</span>
        </div>
        <div class='advantages'>
            <%= image_tag("icons/Offers.png") %> <span>Create your own job offers if you have a business and are looking for employees.</span>
        </div>
        <div class='advantages'>
            <%= image_tag("icons/Profile.png") %> <span>Create your profile and add all the important information about yourself 
            so that employers can easily view it right on the website.</span>
        </div>
        <div class='advantages'>
            <%= image_tag("icons/Messages.png") %> <span>Receive and respond to messages without leaving our site.</span>
        </div>
        <div class='advantages'>
            <%= image_tag("icons/AndMore.png") %> <span>...and other useful functions you will find in Workhunt! </span>
        </div>
    </div>
</div>
<div class='limitationContainer encouragementContainer'>
    <div class='logo'>
        <%= image_tag 'logo.png', class: 'mainLogo' %>
        <%= content_tag :span, "WorkHunt", class: 'workhuntHeader' %>
    </div>
    <p>Hunt down your future work right now!</p>  
    There are [total number of current job offers in the data base] job offers in the database.
    <div class='startButtonContainer'>
        <%= link_to 'TO THE HUNT!', login_path, class: ['largeButton'] %>
     </div>
</div>
<div class='colorContainer'>
    <footer class='limitationContainer startPageFooter'>
        Created by:
        <ul class='listOfNonames'>
            <li>Sadouski Andrei - database</li>
            <li>Miranchuk Krystsina - backend</li>
            <li>Vereshchahin Mark - frontend</li>
        </ul>
        <p>Uniwersytet Łódzki. Inżynieria oprogramowania. 2024.</p>
    </footer>
</div>
<div>
    <h1>
    <% if user_signed_in? %>
        <%= current_user[:login] %><br>
        <%= current_user[:account_type] %><br>
        <%= button_to 'LOG OUT', logout_path, method: :delete %>
        <%= link_to 'EDIT INFO', user_settings_path %>
    <% else %>
        You are not sing up
    <% end %>
    </h1>
</div>