<div class="TopBanner">
    <%= image_tag 'logo.png', id: 'MainLogo'%>
    <%= link_to "WorkHunt", root_path, id: 'WorkhuntHeader'%>
</div>
<div class="LoginForm">
<div id="Buttons">
    <h1 id="LogInHeader">LOG IN</h1>
    <hr class='DivisionLine'>
    <p class="Info">Continue as...</p>
    <%= link_to "An user", login_user_path, class: 'Button' %><br>
    <%= link_to "An organization", login_organization_path, class: 'Button' %><br>

    <%= link_to "I don't have an account", registration_path, id: 'IDontHaveAnAccount' %><br>
</div>
</div>