<div class="TopBanner">
<!--#<%= image_tag 'logo.png', id: 'MainLogo'%>--!>
<!--#<%= link_to "WorkHunt", root_path, id: 'WorkhuntHeader'%>--!>
    <%= link_to root_path do %>
        <%= image_tag 'logo.png', id: 'MainLogo'%>
        <%= content_tag :span, "WorkHunt", id: "WorkhuntHeader" %>
    <% end %>
</div>
<%= image_tag 'img1.png', id: 'img1'%>
<%= image_tag 'img2.png', id: 'img2'%>
<%= image_tag 'img3.png', id: 'img3'%>
<%= image_tag 'img4.png', id: 'img4'%>
<div class="DefaultForm">
<div id="Buttons">
    <h1 id="MainHeader">LOG IN</h1>
    <hr class='DivisionLine'>
    <p class="Info">Continue as...</p>
    <%= link_to "A person", login_user_path, class: 'Button' %><br>
    <%= link_to "An organization", login_organization_path, class: 'Button' %><br>

    <%= link_to "I don't have an account", registration_path, class: 'AnotherOption' %><br>
</div>
</div>