<div class='form-field'>
    <div class='top-line-container contacts'>
        <div class='top-line-element contacts'>
            <% if link.title.present? %>
                <a class='link-block has-title' href="<%= link.address %>">
                    <span><%= link.title %></span><span class='hidden'><%= link.address %></span>
                </a>
            <% else %>
                <a class='link-block' href="<%= link.address %>">
                    <span><%= link.address %></span>
                </a>
            <% end %>
        </div>
        <% if current_user.present? && @user.id == current_user.id %>
            <div class='top-line-element contacts'>
                <%= button_to user_link_path(link), method: :delete, type: 'button', confirm: 'Are you sure you want to delete link?' do %>
                    <%= image_tag 'menuIcons/delete-info-cross.png' %>
                <% end %>
            </div>
        <% end %>
    </div>
</div>