<div class='form'>
<%= form_with model: @cv, url: cv_path, method: method do | form | %>
    <div class='form-field'>
        <%= form.label :about, 'Tell about' %>
        <%= form.text_area :about, placeholder: 'Tell about...' %>
        <%= render 'shared/form_error', model: @cv, parametr: :about %>
    </div>
    <div class='form-field'>
        <%= form.label :skills %>
        <%= form.text_area :skills, placeholder: 'Describe your skills' %>
        <%= render 'shared/form_error', model: @cv, parametr: :skills %>
    </div>
    <div class='form-field'>
        <%= form.label :country %>
        <%= form.text_field :country, placeholder: 'Country...' %>
        <%= render 'shared/form_error', model: @cv, parametr: :country %>
    </div>
    <div class='form-field'>
        <%= form.label :city %>
        <%= form.text_field :city, placeholder: 'City...' %>
        <%= render 'shared/form_error', model: @cv, parametr: :city %>
    </div>
    
    <% @cv.educations.each.with_index do | education, index | %>
        <%= render 'educations/form', education: education, index: index %>
    <% end %>
    <button type="button" class='button add-fields-button' id="add-education">Add Education</button>

    <% @cv.experiences.each.with_index do | experience, index | %>
        <%= render 'experiences/form', experience: experience, index: index %>
    <% end %>
    <button type="button" class='button add-fields-button' id="add-experience">Add Experience</button>

    <% @cv.languages.each.with_index do | language, index | %>
        <%= render 'languages/form', language: language, index: index %>
    <% end %>
    <button type="button" class='button add-fields-button' id="add-language">Add Language</button>

    <div class='form-field'>
        <%= form.label :interests %>
        <%= form.text_area :interests, placeholder: 'Tell about your interests' %>
        <%= render 'shared/form_error', model: @cv, parametr: :interests %>
    </div>
    <%= form.submit 'Confirm', class: 'button', cv: @cv %>
<% end %>
<%= javascript_include_tag 'dynamic_forms_cv', async: true %>
</div>