<% require_relative "../../assets/config/initializers/work_constants.rb"  
%>
<%= search_form_for @q, class: 'search' do | form | %>
    <div class='search-form'>
        <div class='form-field'>
            <%= form.label :about_or_skills_cont, "Enter what you want to find" %>
            <div class='search-field'>
                <%= form.search_field :about_or_skills_cont, placeholder: "Enter what you want to find" %>
                <%= form.submit "Search", id: 'cvs-search-submit' %>
            </div>
        </div>
        <div id='search-form-default' class='button open-drop'><%= image_tag 'menuIcons/open-filters-icon.png' %></div>
    </div>
    <div id="search-drop-block" style="display: none;"> 
        <div class='pair-container filters'>
            <div class="form-field"> 
                <%= form.label :educations_education_level_in, "Education Level" %>
                <%= form.select :educations_education_level_in, options_for_select(EDUCATION, params[:q]&.fetch(:education_in, nil)), {}, multiple: true %>
            </div>

            <div class="form-field"> 
                <%# <%= form.label :experiences_experience_time_gteq, "Minimal experience" %>
                <%# <%= form.number_field :experiences_experience_time_gteq, step: 1 %>
            </div>
        </div>
    </div>
<% end %>

<%= javascript_include_tag 'search_form_drop', 'data-turbolinks-track': 'reload', async: true %>