<% 
person = @cv.person
user = @cv.person.user
%>
<% provide :page_title, "#{@cv.person.name} #{@cv.person.surname}'s CV".html_safe %>
<div class='page-title'>
    <h1><%= @cv.person.name %> <%= @cv.person.surname %>'s CV</h1>
    <%= image_tag 'menuIcons/cv-icon.png' %>
</div>
<div class='form profile cv'>
    <div class='pair-container'>
        <div class='pair-single-container cv'>
            <div class='icon-container'>
                <%= image_tag(get_avatar(user)) %>
            </div>
            <hr>
            <h3>ABOUT ME:</h3>
            <p><%= @cv.about %></p><br>
            <hr>
            <h3>SKILLS:</h3>
            <ul>
                <% @cv.skills.split("\n").each do | skill | %>
                    <% if skill.strip.match?(/\w/) %>
                        <li><p>-<%= skill %></p></li>
                    <% end %>
                <% end %>
            </ul><br>
            <hr>
            <h3>INTERESTS:</h3>
            <p><%= @cv.interests %></p><br>
        </div>
        <div class='pair-single-container cv'>
            <div>
                <h1><%= @cv.person.name %> <%= @cv.person.surname %></h1>
                <p>Sex: <%= @cv.person.sex %></p>
                <% if @cv.person.DOB.present? %>
                    <p>DOB: <%= @cv.person.DOB %></p>
                <% else %>
                    <p>DOB: unknown</p>
                <% end %>
                <p>
                    <% if @cv.country.present? %>
                        <%= @cv.country %><% if @cv.city.present? %>, <% end %>
                    <% end %>
                    <% if @cv.city.present? %>
                        <%= @cv.city %>
                    <% end %>
                </p>
            </div>
            <hr>
            <div>
                <h2>CONTACTS:</h2>
                <% if user.telephones.count == 0 && user.emails.count == 0 && user.links.count == 0%>
                    <span>None</span>
                <%end%>
                <% if user.telephones.count > 0 %>
                    <div class='flex-container-contacts'>
                        <%= image_tag 'icons/phone-icon.png' %>
                        <div class='sub-container'>
                            <ul>
                                <% user.telephones.each do | telephone | %>
                                    <% if telephone.id %>
                                        <li><%= telephone.number %></li>
                                    <% end %>
                                <% end %>
                            </ul>
                        </div>
                    </div>
                <% end %>
                <% if user.emails.count > 0 %>
                    <div class='flex-container-contacts'>
                        <%= image_tag 'icons/email-icon.png' %>
                        <div class='sub-container'>
                            <ul>
                                <% user.emails.each do | email | %>
                                    <% if email.id %>
                                        <li><%= email.address %></li>
                                    <% end %>
                                <% end %> 
                            </ul>
                        </div>
                    </div>
                <% end %>
                <% if user.links.count > 0 %>
                    <div class='flex-container-contacts'>
                        <%= image_tag 'icons/link-icon.png' %>
                        <div class='sub-container'>
                            <ul>
                            <% user.links.each do | link | %>
                                <% if link.id %>
                                    <li><a href="<%= link.address %>"><%= truncate link.address , length: 40 %></a></li>
                                <% end %>
                            <% end %>
                            </ul>
                        </div>
                    </div>
                <% end %>
            </div>                   
            <hr>
            <div class='cv-content-div'>
                <h2>EDUCATION:</h2>
                <% if @cv.educations.count == 0%>
                    <span>None</span>
                <%end%>
                <% @cv.educations.each do | education | %>
                    <div>
                        <p>
                        <% if education.end_date.present? %>
                            <%= education.start_date %> - <%= education.end_date %>
                        <% else %>
                            <%= education.start_date %> - continue
                        <% end %>
                        </p>
                        <p><%= education.institution %></p>
                        <p><%= education.specialization %>, <%= education.direction %></p>
                        <p>Education level: <%= education.education_level %></p>
                    </div>
                <% end %>
            </div>
            <hr>
            <div class='cv-content-div'>
                <h2>EXPERIENCE:</h2>
                <% if @cv.experiences.count == 0%>
                    <span>None</span>
                <%end%>
                <% @cv.experiences.each do | experience | %>
                    <div>
                        <p>
                            <% if experience.end_date.present? %>
                                <%= experience.start_date %> - <%= experience.end_date %>
                            <% else %>
                                <%= experience.start_date %> - continue
                            <% end %>
                        </p>
                        <% if experience.company.present? %>
                            <p><%= experience.company %></p>
                        <% else %>
                            <p>Freelance/Contract Work</p>
                        <% end %>
                        <p><%= experience.position %></p>
                        <h5>Outline:</h5>
                        <p><%= experience.outline %></p>
                        <% if experience.responsibilities.present? %>
                            <h5>Responsibilities:</h5>
                            <p><%= experience.responsibilities %></p>
                        <% end %>
                        <% if experience.achievements.present? %>
                            <h5>Achievements:</h5>
                            <p><%= experience.achievements %></p>
                        <% end %>
                        <p>
                        <% if experience.country.present? %>
                            <%= experience.country %><% if experience.city.present? %>, <% end %>
                        <% end %>
                        <% if experience.city.present? %>
                            <%= experience.city %>
                        <% end %>
                        </p>
                    </div>
                <% end %>
            </div>
            <hr>
            <div class='cv-content-div'>
                <h2>LANGUAGES:</h2>
                <% if @cv.languages.count == 0%>
                    <span>None</span>
                <%end%>
                <% @cv.languages.each do | language | %>
                    <p>
                    <% if language.certificates.present? %>
                        <%= language.name %> - <span><%= language.level %></span> - <%= language.certificates %>
                    <% else %>
                        <%= language.name %> - <span><%= language.level %></span>
                    </p>
                    <% end %>
                <% end %>
            </div>
            <span>*I hereby consent to the processing of my personal information for the purposes of this application.</span>
        </div>
    </div>
</div>


<div class='pair-container control-buttons'>
    <% if user_signed_in? && current_user.person? && current_user.person.id == @cv.person_id %>
        <%= link_to 'Edit', edit_cv_path, class: 'button' %>
        <%= button_to "Delete", cv_path, method: :delete, type: 'button', class: 'button dangerous', confirm: 'Are you sure you want to delete CV?' %>
        <%= link_to 'To PDF', pdf_cv_path , class: 'button' %>
    <% end %>
</div>