<div class="SignUpForm" id="OrgSignUpForm">
    <div id="Buttons">
        <h1 id="MainHeader">SIGN UP</h1>
        <hr class='DivisionLine'>
        <p class="Info">Create organization account</p>

        <form autocomplete="on" action="Some action" id="LoginForm">
            <input type="text" name="login" value=""
                placeholder="Enter login..." size="34" maxlength="50" required><br><br>
            <% if @user.errors[:login].any? %> 
                <% @user.errors[:login].full_messages.each do | message | %> 
                    <p class="error"><%= message %></p>  
                <% end %> 
            <% end %>

            <input type="text" name="name" value=""
                placeholder="Enter organization name..." size="34" maxlength="50" required><br><br>
            <% if @user.errors[:name].any? %> 
                <% @user.errors[:name].full_messages.each do | message | %> 
                    <p class="error"><%= message %></p>  
                <% end %> 
            <% end %>

            <input type="password" name="password" value="" 
                placeholder="Enter password..." size="34" maxlength="50" required><br><br>
            <% if @user.errors[:password].any? %> 
                <% @user.errors[:password].full_messages.each do | message | %> 
                    <p class="error"><%= message %></p>  
                <% end %> 
            <% end %>

            <input type="password" name="password2" value="" 
                placeholder="Repeat password..." size="34" maxlength="50" required><br>
            <% if @user.errors[:password_confirmation].any? %> 
                <% @user.errors[:password_confirmation].full_messages.each do | message | %> 
                    <p class="error"><%= message %></p>  
                <% end %> 
            <% end %>

            <p class="error">Invalid login or password</p> 

            <input id="Submit" class='Button' type="submit" value="Confirm" onclick="alert('Some alert')">
        </form>

        <%= link_to 'Choose another account to create', registration_path, class: 'Button' %><br>
        <%= link_to "I already have an account", login_path, class: 'AnotherOption', id: 'LoggingInOption' %><br>
        <p class="ItalicInfo">*You will be able to add additional information on your profile page</p>
    </div>
    <%= image_tag '4in1.png', id: 'FourInOneReg'%>
</div>