<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:page_title)) %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag 'logo.png' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "common", "containers", "header", "form", "signup", "startpage", "edit_profile", 
    "show_profile", "search", "brief_card", "edit_vacancy", "show_cv", "edit_cv", "cv_brief_card",
    "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "flash" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if controller_name == 'sessions' || (controller_name == 'users' && (action_name == 'new' || action_name == 'create'))%> 
      <%= render 'shared/header' %> 
    <% elsif controller_name == 'home' %> 
      <% if user_signed_in? %> 
        <%= render 'shared/header_menu' %> 
      <% end %>
    <% else %>
      <%= render 'shared/header_menu' %> 
    <% end %>

    <%= render 'shared/flash' %>

    <%= yield %>
  </body>
</html>
